.bighead{
display: flex;
justify-content: center;
}
.bignav{
display: flex;
align-items:baseline;
}
.socials{
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
}
.titles {
    font-family: "bungee" sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}
body{
    background:radial-gradient(yellow, orange);
    background-position: fixed;
}
#food{
    border: 4px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
    background-color: salmon;
}
#soccer{
    border: 4px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
    background-color: white;
}
#movie{
    border: 4px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
    background-color:black;
    color: white;
}
#nfl{
    border: 4px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
    background-color: green;
}
#sidebar{
    flex: 2;
    border: 10px solid black;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    align-self: flex-start;
    background-color: grey;
    display: inline-flex;
    flex-direction: column;
}
#post{
    display: flex;

}
.articles{
    display: flex;
    flex-direction: column;
    flex: 3;
    padding: 20px;
}
.links{
    text-align:left ;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.links a{
    padding-bottom: 10px;
}
.links a:last-of-type{
padding-bottom: 0px;
}
.picture{
    border-radius: 5px;
}
.text{
    flex: 1;
    padding-left: 5px;
}
.click{
    position: absolute;
    bottom: 15px;
    right: 15px;
    padding: 10px 20px;
    border-radius: 5px;
}
.bighead img{
    width: 25%;
    height: 25%;
}
.socials img{
    width: 25px;
    height: 25px;
}
h1,h2,h4,h5{
    font-family: "Bungee Inline", sans-serif;
        font-weight: 400;
        font-style:normal;
}
.articles h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
}
@media (max-width: 600px){
    #post{
        flex-direction: column;
        width: 100%;
    }
    #sidebar{
        width: 90%;
    }
}